body {
    font-family: sans-serif;
    padding: 40px;
}


input[type="file"] {
    margin-bottom: 20px;
}

img {
    display: block;
    margin-top: 10px;
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
}

.error {
    color: red;
    font-weight: bold;
}

.bg {
    position: absolute;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
  }
  .bg1 { background-image: url('./assets/images/background-desktop.png'); width: 100%; height: 100%; top: 0; left: 0; }
  .bg2 { background-image: url('./assets/images/pattern-squiggly-line-bottom-desktop.svg'); bottom: 0; left: 0; }
  .bg3 { background-image: url('./assets/images/pattern-squiggly-line-top.svg'); width: 350px; height: 250px; top: 0; left: 1185px;}
  .bg4 { background-image: url('./assets/images/pattern-lines.svg'); width: 96%; height: 80%; top: 0;}
  .bg5 { background-image: url('./assets/images/pattern-circle.svg'); width: 220px; height: 220px; top: -100px; left: 20px;}